.book_page{
	margin-left: 30%;
	margin-top: 15%;
	display: flex;

}

.book_page_image{
	width: 200px;
}

.book_page_image img{
	width: 200px;
	height: 300px;
}

.book_page_image_name{
	color: #333;
	margin-top: -260px;
	margin-left: 30px;
	width: 150px;
	max-height: 41px;
	line-height: 20px;
	overflow: hidden;
}

.book_page_image_autor{
	color: #AEB4BA;
	font-size: 80%;
	margin-top: 20px;
	margin-left: 30px;
	width: 150px;
	max-height: 41px;
	line-height: 20px;
	overflow: hidden;
}

.mosru{
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 4px solid #1E80FF;
	background-color: #1E80FF;
	padding: 10px 20px 10px 20px;
	margin-top: 320px;
	margin-left: 10px;
}

.book_page_info{
	margin-left: 5%;
}

.book_page_title{
	font-size: 140%;
}

.book_page_descriotion{
	margin-top: 30px;
}

.book_page_descriotion_line{
	margin-top: 10px;
}


#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 300px;
}

.slider-viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

.slidewrapper {
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

.slidewrapper, .slidewrapper ul, .slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}

.prev-btn, .next-btn {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    top: calc(50% - 25px);
}

.prev-btn:hover, .next-btn:hover {
    cursor: pointer;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
