body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
	font-weight: 100;
	opacity: 1;
}

*,
*:before
*:after {
	box-sizing: border-box;
}

.spacer {
	margin-top: 5%;
}

#footer {
	text-align: center;
	width: 100%;
	background-color: #EBEFF3;
	height: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	margin-top: 50px;
}

.card {
	padding-top: 20px;
	position: relative;
	top: 100px;
	margin-bottom: 100px;
	width: 37%;
	margin-left: 31%;
	height: 600px;
	box-shadow: 0 0 20px #DCDCDC;
}

.card.active {
	height: 800px;
}
