.User {
	margin-left: 3%;
	margin-top: 5%;
	position: absolute;
}

.User_photo img {
	width: 250px;
	height: 250px;
	border-radius: 40px;
}

.container {
	position: relative;
	width: 250px;
	height: 250px;
	overflow: hidden;
	border-radius: 40px;
}

.User_image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
	border-radius: 40px;
	cursor: pointer;
}

.container:hover .overlay {
	opacity: .5;
}

.photo_change {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.photo_change img {
	width: 50px;
}

.User_info {
	margin-top: 20px;
	margin-bottom: 30px;
}

.User_parametr {
	font-size: 120%;
	margin-top: 2%;
}

.change_mail {
	width: 10%;
	font-size:  120%;
	padding: 10px;
	color: #fff;
	background-color: #1E90FF;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
