.search{
	display: flex;
	justify-content: center;
	margin-top: 90px;
	width: 100%;
	height: auto;
}

.search_input{
	width: 25%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 100%;
	border: 1px solid #1E90FF;
}

.search_button{
	color: #1E90FF;
	padding: 20px;
}

