<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<link rel="icon" href="/static/favicon.ico">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<link rel="stylesheet" href="magnific-popup/magnific-popup.css">
		<link rel="stylesheet" href="static/css/common.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<script src="static/magnific-popup/magnific-popup.js"></script>

		{% block head %}{% endblock %}

		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		{% block content %}{% endblock %}

		<footer>InfantemTeam<br>Лидеры цифровой трансформации<br>2021</footer>
	</body>
</html>
