<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/static/favicon.ico">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">
		<script src="/static/magnific-popup/magnific-popup.js"></script>

		<link rel="stylesheet" href="/static/css/common.css">

		{%- block head %}{% endblock -%}

		<title>{% block title %}{% endblock %} &mdash; Библиотеки Москвы</title>
	</head>

	<body>
		<div class="header">
			<div class="logo"><img src="/static/img/logo.svg">Библиотеки Москвы</div>
			<div class="border_menu"></div>
			<div class="name">Меню</div>

			<div class="wrapper">
				<div class="menuToggle">
					<div class="hamburger"></div>
				</div>

				<ul class="menu">
					<div class="spacer"></div>
					<li><a href="/">Главная</a></li>
					<li><a href="https://www.mos.ru/knigi/search">Поиск</a></li>
					<li><a href="/lk">Личный кабинет</a></li>
				</ul>
			</div>
		</div>

		<div id="content">{% block content %}{% endblock %}</div>

		<!--<footer>&copy; InfantemTeam<br>Лидеры цифровой трансформации<br>2021</footer>-->
	</body>
</html>

<!-- by InfantemTeam, 2021
     infantemteam@sdore.me -->
