<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<link rel="icon" href="/static/favicon.ico">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<link rel="stylesheet" href="/static/magnific-popup/magnific-popup.css">
		<script src="/static/magnific-popup/magnific-popup.js"></script>

		<link rel="stylesheet" href="/static/css/common.css">

		{%- block head %}{% endblock -%}

		<title>{% block title %}{% endblock %} &mdash; Библиотеки Москвы</title>
	</head>

	<body>
		<div id="content">{% block content %}{% endblock %}</div>

		<!--<footer>&copy; InfantemTeam<br>Лидеры цифровой трансформации<br>2021</footer>-->
	</body>
</html>
