{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/book.css">

	<script src="/static/js/slider_books.js"></script>
	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	Страница книги
{% endblock %}

{% block content %}
<div class="book_page">
	<div class="book_page_image">
		<img src="static/img/book.svg">
		<div class="book_page_image_name">Война и мир </div>
		<div class="book_page_image_autor">Толстой Лев Николаевич</div>
	</div>
	<div class="book_page_info">
		<div class="book_page_title">Война и Мир</div>
		<div class="book_page_descriotion">
			<div class="book_page_descriotion_line"><b>Автор:</b>Толстой Лев Николаевич</div>
			<div class="book_page_descriotion_line"><b>Автор:</b>Толстой Лев Николаевич</div>
		</div>
	</div>
</div>

	<div id="block-for-slider">
		<div id="viewport">
			<ul id="slidewrapper">
				<li class="slide">
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
				</li>

				<li class="slide">
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
				</li>
			</ul>

			<div id="prev-next-btns">
				<div id="prev-btn"><span class="material-icons">arrow_back</span></div>
				<div id="next-btn"><span class="material-icons">arrow_forward</span></div>
			</div>
		</div>
	</div>
{% endblock %}