{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/book.css">

	<script src="/static/js/slider_books.js"></script>
	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	{{ book.title }}
{% endblock %}

{% block content %}
	<div class="book_page">
		<div class="book_page_image">
			<img src="static/img/book.svg">
			<div class="book_page_image_name">{{ book.title }}</div>
			<div class="book_page_image_autor">{{ book.author }}</div>
		</div>
		<div class="book_page_info">
			<div class="book_page_title">{{ book.title }}</div>
			<div class="book_page_descriotion">
				<div class="book_page_descriotion_line"><b>Автор:</b> {{ book.author }}</div>
				<div class="book_page_descriotion_line"><b>Автор:</b> {{ book.author }}</div>
			</div>
		</div>
	</div>

	<div id="block-for-slider">
		<div id="viewport">
			<ul id="slidewrapper">
				<li class="slide">
					{% for _ in range(5+1) %}
						<a class="book">
							<div class="book_img"><img src="/static/img/book.svg"></div>
							<div class="book_name">{{ book.title }}</div>
							<div class="book_author">{{ book.author }}</div>
						</a>
					{% endfor %}
				</li>

				<li class="slide">
					{% for _ in range(5+1) %}
						<a class="book">
							<div class="book_img"><img src="/static/img/book.svg"></div>
							<div class="book_name">{{ book.title }}</div>
							<div class="book_author">{{ book.author }}</div>
						</a>
					{% endfor %}
				</li>
			</ul>

			<div id="prev-next-btns">
				<div id="prev-btn"><span class="material-icons">arrow_back</span></div>
				<div id="next-btn"><span class="material-icons">arrow_forward</span></div>
			</div>
		</div>
	</div>
{% endblock %}
