{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/index.css">

	<script src="/static/js/slider.js"></script>
	<script src="/static/js/slider_books.js"></script>
	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	Главная
{% endblock %}

{% block content %}
	<div class="header2">
		<div class="header2_text">Люди читают</div>
	</div>

	<div class="slider">
		<div class="item">
			<img src="/static/img/slide.png" alt="Первый слайд">
			<div class="slideTitle">Библиотеки мск</div>
			<div class="slideText">Находите и бронируйте любимые книги прямо из дома.</div>
		</div>

		<div class="item">
			<img src="/static/img/slide.png" alt="Второй слайд">
			<div class="slideTitle">Библиотеки мск</div>
			<div class="slideText">Заказывайте книги в любой библиотеке города по единому читательскому билету.</div>
		</div>

		<div class="item">
			<img src="/static/img/slide.png" alt="Третий слайд">
			<div class="slideTitle">Библиотеки мск</div>
			<div class="slideText">Следите за заказом через кабинет читателя.</div>
		</div>

		<div class="item">
			<img src="/static/img/slide.png" alt="Четвертый слайд">
			<div class="slideTitle">Библиотеки мск</div>
			<div class="slideText">Он создается автоматически, если у вас есть учётная запись на Mos.ru.</div>
		</div>

		<a class="prev" onclick="minusSlide()"><span class="material-icons">arrow_back</span></a>
		<a class="next" onclick="plusSlide()"><span class="material-icons">arrow_forward</span></a>
	</div>

	<div class="slider-dots">
		<span class="slider-dots_item" onclick="currentSlide(1)"></span>
		<span class="slider-dots_item" onclick="currentSlide(2)"></span>
		<span class="slider-dots_item" onclick="currentSlide(3)"></span>
		<span class="slider-dots_item" onclick="currentSlide(4)"></span>
	</div>

	<div id="block-for-slider">
		<div id="viewport">
			<ul id="slidewrapper">
				<li class="slide">
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
				</li>

				<li class="slide">
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
					<a href="#" class="book">
						<div class="book_img"><img src="/static/img/book.svg"></div>
						<div class="book_name">Война и мир</div>
						<div class="book_author">Л.Н.Толстой</div>
					</a>
				</li>
			</ul>

			<div id="prev-next-btns">
				<div id="prev-btn"><span class="material-icons">arrow_back</span></div>
				<div id="next-btn"><span class="material-icons">arrow_forward</span></div>
			</div>
		</div>
	</div>
{% endblock %}
