{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/lk.css">

	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	Личный кабинет
{% endblock %}

{% block content %}
	<div class="User">
		<div class="container">
			<div class="User_photo"><img src="/static/img/slide.png" class="User_image" id="User_image"></div>
			<label for="photo-input">
				<div class="overlay">
					<div class="photo_change"><img src="/static/img/camera.svg"></div>
				</div>
			</label>
			<input type="file" id="photo-input" />
		</div>

		<div class="User_info">
			<div class="User_parametr"><b>Фамилия:</b>  Музафаров</div>
			<div class="User_parametr"><b>Имя:</b>  Карим</div>
			<div class="User_parametr"><b>Логин:</b>  ЛогинКреативный</div>
			<div class="User_parametr"><b>Дата рождения:</b>  11.11.1111</div>
		</div>

		<a class="change_mail">Редактировать профиль</a>
		<!--
			<input type="text" onkeyup="checkParams()" id="name" class="input_entrance" placeholder="Фамилия" value="Музафаров">
			<input type="text" onkeyup="checkParams()" id="surname" class="input_entrance" placeholder="Имя" value="Карим">
			<input type="text" onkeyup="checkParams()" id="login" class="input_entrance" placeholder="Логин (телефон, email или СНИЛС)" value="ЛогинКреативный">
		-->
	</div>

	<div class="spacer"></div>

	<div class="title_books">Рекомендации</div>
	<div class="books_block">
		{% for i in recommended_books %}
			{{ book_card(i) }}
		{% endfor %}
	</div>

	<div class="title_books">Прочитанные</div>
	<div class="books_block">
		{% for i in read_books %}
			{{ book_card(i) }}
		{% endfor %}
	</div>
{% endblock %}
