{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/css/lk.css">

	<script src="/static/js/lk.js"></script>
	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	Личный кабинет
{% endblock %}

{% block content %}
	<div class="User">
		<div class="photo_container">
			<div class="User_photo"><img src="/static/img/slide.png" class="User_image"></div>
			<label for="photo_input">
				<div id="photo_overlay">
					<div class="photo_change"><img src="/static/img/camera.svg"></div>
				</div>
			</label>
		</div>

		<div id="uinfo_display" class="User_info">
			<div class="User_parameter"><b>Фамилия:</b> {{ g.user.surname }}</div>
			<div class="User_parameter"><b>Имя:</b> {{ g.user.name }}</div>
			<div class="User_parameter"><b>Email:</b> {{ g.user.email or '—' }}</div>
			<div class="User_parameter"><b>Дата рождения:</b> {{ g.user.bdate or '—' }}</div>
		</div>

		<div id="uinfo_edit" class="User_info">
			<form action="/edit_profile">
				<div class="User_parameter"><b>Фамилия:</b><input type="text" name="surname" class="input_login_LK" value="{{ g.user.surname or '' }}"></div>
				<div class="User_parameter"><b>Имя:</b><input type="text" name="name" class="input_login_LK" value="{{ g.user.name or '' }}"></div>
				<div class="User_parameter"><b>Email:</b><input type="email" name="email" class="input_login_LK" value="{{ g.user.email or '' }}"></div>
				<div class="User_parameter"><b>Дата рождения:</b><input type="text" name="bdate" class="input_login_LK" placeholder="Дата рождения" onfocus="this.type = 'date'" onblur="this.type = 'text'" value="{{ g.user.bdate or '' }}"></div>
				<input type="file" name="photo" id="photo_input">
			</form>
		</div>

		<a id="edit_profile_button" class="profile_button">Редактировать профиль</a>
		<a id="save_profile_button" class="profile_button">Сохранить профиль</a>
	</div>

	<div class="spacer"></div>

	<div class="title_books">Рекомендации</div>
	<div class="books_block">
		{% for i in recommended_books %}
			{{ book_card(i) }}
		{% endfor %}
	</div>

	<div class="title_books">Прочитанные</div>
	<div class="books_block">
		{% for i in read_books %}
			{{ book_card(i) }}
		{% endfor %}
	</div>
{% endblock %}
