{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/login.css">

	<script async src="https://telegram.org/js/telegram-widget.js?15"></script>

	<script src="/static/js/login.js"></script>
{% endblock %}

{% block title %}
	Вход
{% endblock %}

{% block body %}
	<div class="card">
		<div class="login_logo"><img src="/static/img/logo.png"></div>
		<div class="login_title">Доступ к информационным ресурсам города Москвы</div>
		<div class="login_subtitle">Вход на Официальный сайт Мэра Москвы</div>

		<div class="login_form">
			<form method="post" action="/login">
				<input type="text" name="login" class="input_login" placeholder="Логин (телефон, email или СНИЛС)">
				<input type="password" name="password" class="input_login" placeholder="Пароль">

				<div id="register_fields">
					<input type="text" name="name" class="input_login" placeholder="Имя">
					<input type="text" name="surname" class="input_login" placeholder="Фамилия">
					<input type="text" name="date" class="input_login" placeholder="Дата рождения" onfocus="this.type = 'date'" onblur="this.type = 'text'">
				</div>

				<div class="login_button popup-link">
					<input type="submit" name="submit" value="Войти">
					<img src="/static/img/spinner.gif" class="spinner">
				</div>
			</form>
		</div>

		<div class="or">или</div>

		<button type="submit" id="vk" class="popup-link" href="#popup">
			<img src="/static/img/spinner.gif" class="spinner">
			Войти через ВКонтакте
			<img src="/static/img/vk.svg" class="logo">
		</button>

		<button type="submit" id="telegram" class="popup-link">
			<img src="/static/img/spinner.gif" class="spinner">
			Войти через Telegram
			<img src="/static/img/telegram.svg" class="logo">
		</button>

		<div id="popup" class="mfp-hide">
			<iframe src="https://oauth.vk.com/authorize?client_id=7980616&display=popup&redirect_uri=https://leaders.sdore.me/oauth/vk&response_type=code&v=5.131"></iframe>
		</div>

		<div class="spacer"></div>

		<div class="login_form">
			<div class="registration">Впервые на сайте? <a class="registration_a Ent_hide">Зарегистрироваться</a></div>
		</div>
		<div class="registration_form"><div class="registration">Уже были на нашем сайте? <a class="registration_a Reg_hide">Войти</a></div></div>
	</div>

	<div class="spacerReg">.</div>
{% endblock %}
