{% macro book_card(book) %}
	<a href="#" class="book">
		<div class="book_name_image">{{ book.name }}</div>
		<div class="book_author_image">{{ book.author }}</div>

		<div class="book_name">{{ book.name }}</div>
		<div class="book_author">{{ book.author }}</div>
	</a>
{% endmacro %}

{% macro book_slider(books) %}
	<div class="block-for-slider">
		<div class="slider-viewport">
			{% set books = g.builtins.tuple(g.groupby(5, books)) %}

			<ul class="slidewrapper" style="width: calc(100% * {{ books | length }})">
				{% for group in books %}
					<li class="slide">
						{% for book in group %}
							<a class="book">
								<div class="book_img"><img src="/static/img/book.png"></div>
								<div class="book_name">{{ book.title }}</div>
								<div class="book_author">{{ book.author }}</div>
							</a>
						{% endfor %}
					</li>
				{% endfor %}
			</ul>

			<div class="prev-next-btns">
				<div class="prev-btn"><span class="material-icons">arrow_back</span></div>
				<div class="next-btn"><span class="material-icons">arrow_forward</span></div>
			</div>
		</div>
	</div>
{% endmacro %}


{% extends "base.html" %}

{% block body %}
	<header>
		<a href="/" class="logo"><img src="/static/img/logo.svg">Библиотеки Москвы</a>
		<div class="border_menu"></div>
		<div class="menuToggle">
			<div class="name">Меню</div>
		</div>

		<div class="wrapper">
			<div class="menuToggle icon">
				<div class="hamburger"></div>
			</div>

			<ul class="menu">
				<div class="spacer"></div>
				<li><a href="/">Главная</a></li>
				<li><a href="/search">Поиск</a></li>
				<li><a href="/lk">Личный кабинет</a></li>
			</ul>
		</div>
	</header>

	<div id="content">{% block content %}{% endblock %}</div>

	<footer>&copy; InfantemTeam<br>Лидеры цифровой трансформации<br>2021</footer>
{% endblock %}
