{% extends "base.html" %}

{% from "common.html" import book_card, book_slider %}

{% block body %}
	<header>
		<a href="/" class="logo"><img src="/static/img/logo.svg">Библиотеки Москвы{% if g.user %}<i style="color: lightgray"> — user #{{ g.user.id }}</i>{% endif %}</a>
		<div class="border_menu"></div>
		<div class="menuToggle">
			<div class="name">Меню</div>
		</div>

		<div class="wrapper">
			<div class="menuToggle icon">
				<div class="hamburger"></div>
			</div>

			<ul class="menu">
				<div class="spacer"></div>
				<li><a href="{{ url_for('index') }}">Главная</a></li>
				<li><a href="{{ url_for('search') }}">Поиск</a></li>
				<li><a href="{{ url_for('lk') }}">Личный кабинет</a></li>
				<li><a href="{{ url_for('logout') }}">Выход</a></li>
			</ul>
		</div>
	</header>

	<div id="content">{% block content %}{% endblock %}</div>

	<footer>&copy; InfantemTeam<br>Лидеры цифровой трансформации<br>2021</footer>
{% endblock %}
