{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/login.css">  <!-- FIXME: костыль -->
{% endblock %}

{% block title %}
	Редактирование профиля
{% endblock %}

{% block content %}
	<div class="card">
		<div class="entr_logo"><img src="/static/img/logo.png"></div>
		<div class="entrance_title">Доступ к информационным ресурсам города Москвы</div>
		<div class="entrance_subtitle">Режим редактирования профиля</div>

		<form method="post" action="/profile">
			<input type="text" onkeyup="checkParams()" id="name" class="input_entrance" placeholder="Фамилия" value="Музафаров">
			<input type="text" onkeyup="checkParams()" id="surname" class="input_entrance" placeholder="Имя" value="Карим">
			<input type="text" onkeyup="checkParams()" id="login" class="input_entrance" placeholder="Логин (телефон, email или СНИЛС)" value="ЛогинКреативный">

			<div class="entrance_button">
				<input type="submit" id="submit" value="Сохранить" disabled>
			</div>
		</form>
	</div>
{% endblock %}
