{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/search.css">

	<script src="/static/js/slider_books.js"></script>
	<script src="/static/js/hamburger.js"></script>
{% endblock %}

{% block title %}
	Страница поиска
{% endblock %}

{% block content %}
	<div class="search">
		<input type="text" name="search" class="search_input" placeholder="Поиск">
		<div class="search_button">Найти</div>
	</div>

	<div class="filter">
		<h2>Фильтры</h2>
		<h3>Найдено 110077 книг</h3>
		<div class="checkbox_filter">
			<input type="checkbox" id="stock" class="checkbox"> <label for="stock" class="checkbox_text">В наличи</label>
		</div>
		<div class="checkbox_filter">
			<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
		</div>
		<select size="3" multiple name="lib[]" class="selector">
    		<option disabled>Библиотека</option>
    		<option value="Чебурашка">Библиотека1</option>
    		<option value="Чебурашка">Библиотека2</option>
    		<option value="Чебурашка">Библиотека3</option>
    	</select>
		
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>
{% endblock %}