{% extends "main.html" %}

{% block head %}
	<link rel="stylesheet" href="/static/css/search.css">

	<script src="/static/js/slider_books.js"></script>
	<script src="/static/js/hamburger.js"></script>
	<script src="/static/js/accordion.js"></script>
{% endblock %}

{% block title %}
	Страница поиска
{% endblock %}

{% block content %}
	<div class="search">
		<input type="text" name="search" class="search_input" placeholder="Поиск">
		<div class="search_button">Найти</div>
	</div>

	<div class="filter">
		<h2>Фильтры</h2>
		<h3>Найдено 110077 книг</h3>
		<div class="checkbox_filter">
			<input type="checkbox" id="stock" class="checkbox"> <label for="stock" class="checkbox_text">В наличии</label>
		</div>
		<div class="checkbox_filter">
			<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
		</div>

		<h4>Год издания</h4>
    	<div class="year_filter">
    		от:<input type="number" min="0" max="2021" step="1" placeholder="0" />
    		до:<input type="number" min="0" max="2021" step="1" placeholder="2021" />
    	</div>

		<button class="accordion">Библиотека</button>

		<div class="panel">
			<div class="searching_filter">
				<input type="text" name="search" class="search_input_filter" placeholder="Поиск">
		<div class="search_button_filter">Найти</div>
			</div>
  			<div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Автор</button>
		<div class="panel">
			<div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Издательтсво</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Тип издания</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Тематика</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Серия</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Язык</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>

		<button class="accordion">Возрастное ограничение</button>
		<div class="panel">
  			 <div class="checkbox_filter">
				<input type="checkbox" id="booking" class="checkbox"> <label for="booking" class="checkbox_text">Онлайн-бронирование</label>
			</div>
		</div>
		</div>

    	
		
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>

	<div class="searching_book">
		<div class="searching_book_img"><img src="static/img/book.svg">
			<div class="searching_book_name">Отцы и дети</div>
			<div class="searching_book_author">Тургенев Иван Сергеевич</div>
		</div>
		<div class="searching_book_info">
			<div class="searching_book_info_title">Отцы и дети</div>
			<div class="searching_book_info_line">Автор: Тургенев Иван Сергеевич</div>
			<div class="searching_book_info_line">Издательство: Хабаровское книжное издательство
			</div>
		</div>
	</div>
{% endblock %}